.text-bg-dark2 {
    background-color: #1a1e21 !important;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    padding: 3px 10px 5px 8px;
    color: #000;
    background-image: linear-gradient(210deg, #5020db, #ff1f8c, #ffb200);
}

#menuTop .navbar-brand {
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #21201e;
    background-image: linear-gradient(210deg, #01d5bf, #ffce0a, #3bce0a);
}